[project]
name = "{{.Name}}"
version = "0.1"
description = "{{.Name}} agent"
readme = "README.md"
dependencies = [
  "google-adk==1.25.1",
{{- if eq .ModelProvider "agentgateway"}}
  "kagent-adk=={{.KagentADKPyVersion}}",
{{- end}}
]
requires-python = ">=3.13"
