# Patterns to ignore when building packages.
.DS_Store
# Common VCS dirs
.git/
.gitignore
.bzr/
.bzrignore
.hg/
.hgignore
.svn/
# Common backup files
*.swp
*.bak
*.tmp
*.orig
*~
# Various IDEs
.project
.idea/
*.tmproj
.vscode/
# Chart build artifacts
*.tgz
Chart.lock
charts/
# CI and tests
ci/
tests/
# Documentation (not needed in package)
CHANGELOG.md
LICENSE
